@import "tailwindcss";

img {
  pointer-events: none;
  user-select: none;
}

:root {
  --color-primary-main: #546736;
  --color-secondary-main: #43522B;
  --color-accent-main: #A48127;
  --color-secondary-accent: #E9B94A;
  --color-off-white: #E3DBB7;
  --color-off-white-2: #D8CEA2;
}

@theme {
  --color-primary-main: #546736;
  --color-secondary-main: #43522B;
  --color-accent-main: #A48127;
  --color-secondary-accent: #E9B94A;
  --color-off-white: #E3DBB7;
  --color-off-white-2: #D8CEA2;
}

::selection{
  background-color: var(--color-primary-main);
  color: var(--color-off-white);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}