@import "tailwindcss";

img {
  pointer-events: none;
  user-select: none;
}

@theme {
  --color-main-green: #404f1d;
  --color-off-white: #F8FAF8;
  --color-beige: #f4ede6;
  --color-higlight-green: #00ff00;
}

::selection{
  background-color: var(--color-main-green);
  color: var(--color-off-white);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}