@import "tailwindcss";

img {
  pointer-events: none;
  user-select: none;
}

@theme {
  --color-main-green: #404f1d;
  --color-main-brown: #7A5C3E;
  --color-off-white: #F8FAF8;
}

::selection{
  background-color: var(--color-main-green);
  color: var(--color-off-white);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}