.pixel-cursor-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.pixel-cell {
  width: 100%;
  height: 100%;
  background-color: #0d240d;
  opacity: 0;
}
